
@model leaveSystem.Models.DTO.ChangePasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Leave App</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/content/css/style.css" type="text/css" media="all" />
    <link href="~/content/css/font-awesome.css" rel="stylesheet" />
    <!-- Style-CSS -->
    <link rel="~/content/stylesheet" href="css/font-awesome.css">
    <link href="~/content/css/style.css" rel="stylesheet" />
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- //online-fonts -->

</head>







<body>

    <div class="header-w3l">
        <h1>Leave Management System</h1>
    </div>
    <!--//header-->
    <div class="main-content-agile">
        <div class="sub-main-w3">
            <h2>Change Password</h2>
            <form action="#" method="post">
               
                <div class="pom-agile">
                    <span class="fa fa-key" aria-hidden="true"></span>
                    <input placeholder="CurrentPassword" name="CurrentPassword" class="pass" type="password" required="">
                </div>

                <div class="pom-agile">
                    <span class="fa fa-key" aria-hidden="true"></span>
                    <input placeholder="NewPassword" name="NewPassword" class="pass" type="password" required="">
                </div>

                <div class="pom-agile">
                    <span class="fa fa-key" aria-hidden="true"></span>
                    <input placeholder="PasswordConfirm" name="PasswordConfirm" class="pass" type="password" required="">
                </div>

                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        <span class="text-info">@TempData["msg"]</span>
                    </div>
                }

             
                <div class="right-w3l">
                    <input type="submit" value="Save">
                </div>
            </form>
            <br/>
            @if (User.IsInRole("user"))
            {
                <a href="/DashboardController1/Display">Back</a>
            }
            @if (User.IsInRole("admin"))
            {
                <a href="/leave/Index">Back</a>
            }
            
        </div>
      
    </div>
    <!--//main-->
    <!--footer-->




</body>

</html>
